.game-playing.hidden
    input.game-playing__keyboard-focus-target(
        type='text'
        autocomplete='off'
        autocapitalize='off'
        autocorrect='off'
        spellcheck='false'
        aria-label='Entrada de teclado del juego'
    )
    .game-playing__top
        .game-playing__info-card
            .game-playing__info-group
                .game-playing__bubble
                    | inicio
                span.game-playing__start-city
            .game-playing__city-count
                .game-playing__city-count-number
                .game-playing__horizontal-line
            .game-playing__info-group
                .game-playing__bubble
                    | destino
                span.game-playing__end-city
    .game-playing__bottom
        .game-playing__user-stats
            .game-playing__stats-cities
                span.game-playing__cities-completed
                span /
                span.game-playing__cities-remaining
            .game-playing__stats-combo
                span.game-playing__combo-number
                span Combo
            .game-playing__stats-wpm
                span.game-playing__wpm-number
                span WPM
        .game-playing__typing-card
            .game-playing__typing-card-top
                .game-playing__typing
                    span.game-playing__typing-ok
                    span.game-playing__typing-caret
                    span.game-playing__typing-next-char
                    span.game-playing__typing-rest
            .game-playing__typing-card-bottom
                .game-playing__route-name

